* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow:hidden;
}
.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink:0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
  opacity: .8;
  transform: scale(0.8);
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
 


}

.arrow-nav button {
  width: 40px;
  height: 30px;
  color: white;
  border-radius: 4px;
  background: #fb5 url('../img/arrow.svg') center no-repeat;
   }
   .arrow-nav .prev {
    transform: rotate(-180deg);
   }

[data-control ="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

[data-control ="slide"] li a {
  display: block;
  width: 16px;
  height: 16px;
  background: #fb5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: 5px;
}

[data-control ="slide"] li.active a, [data-control ="slide"] li a:hover {
  background: #e54;
}

.custom-controls {
  display: flex;
  justify-content: center;
}
.custom-controls li {
width: 40px;
height: 40px;
border-radius: 50%;
overflow: hidden;
margin: 20px 0 ;
transform: scale(.8);
opacity: .8;
transition: .3s;
}
.custom-controls li.active {
transform: scale(1);
opacity: 1;
}